@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------- Navbar ----------- */

.nav-item .nav-icon {
    filter: invert(35%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(85%) contrast(90%);
    transition: filter 0.3s ease-in-out, brightness 0.3s ease-in-out;
}

.nav-active {
    background-color: #045894;
    color: white;
}

.nav-item:hover .nav-icon , .nav-active .nav-icon {
    filter: invert(100%) brightness(100%);
}

/* ----------- Navbar End ----------- */


/* ----------- Home-hero-swiper ----------- */
.home-hero-swiper .swiper-button-prev,
.home-hero-swiper .swiper-button-next {
    color: #B6B6B6; /* Change to your desired color */
    height: 50px !important;
    width: 50px !important; /* Increased width for the arrow */
}

.home-hero-swiper .swiper-button-prev::after,
.home-hero-swiper .swiper-button-next::after {
    color: gray; /* Change to your desired color for arrow icons */
}

/* ----------- Home-hero-swiper End ----------- */